body{
    font-family:'Poppins', sans-serif;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 51%, rgba(50,52,226,1) 51%);
}

#main {
    text-align: center;
    background-color: white;
    width: 75%;
    margin: 0 auto;
}

#after_submit{
    visibility: hidden;
}
